.index-intro {
  font-size: 0;
  position: relative;
}

.index-intro h3 {
  font-size: 34px;
  padding: 25px 15px;
  font-size: 17px;
  font-weight: normal;
  color: #d66f70;
}

.index-intro img {
  width: 100%;
}

.index-intro p {
  font-size: 13px;
  color: #313131;
  position: absolute;
  top: 215px;
  padding: 0 25px;
}
.index-intro p:last-child {
  top: 370px;
}

@media screen and (max-width: 321px) {
  .index-intro p{
    padding: 0 20px;
    line-height: 18px;
    top: 200px;
  }

  .index-intro p:last-child {
    top: 330px;
  }
}
@media screen and (min-width: 413px) {
  .index-intro p{
    top: 250px;
  }
  .index-intro p:last-child {
    top: 400px;
  }
}
@media screen and (min-width: 767px) {
  .index-intro p{
    font-size: 18px;
    padding: 0 50px;
    top: 450px;
  }
  .index-intro p:last-child {
    top: 700px;
  }
}
