/* 模块一: 擅长挽回的婚姻类型 */
.page02-sec01-content {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.page02-sec01-content .group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.page02-sec01-content .group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.page02-sec01-content .group-item .img {
  width: 40px;
  height: 40px;
  font-size: 0;
}

.page02-sec01-content .group-item .img img {
  width: 100%;
}

.page02-sec01-content .group-item span {
  padding-top: 8px;
  color: #313131;
  font-size: 15px;
}

/* 模块二: 婚姻危机出现的原因 */
.page02-sec02-content .swiper-container {
  padding-top: 25px;
  padding-bottom: 55px;
}

.page02-sec02-content .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.page02-sec02-content .title i {
  display: inline-block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: #dc6871;
  margin-top: 1px;
  margin-right: 10px;
}

.page02-sec02-content .title span {
  font-size: 16px;
  color: #dc6871;
}

.page02-sec02-content .img {
  font-size: 0;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.page02-sec02-content .img img {
  width: 100%;
}

.page02-sec02 .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: #919191;
  transition: all .3s;
}

.page02-sec02 .swiper-pagination-bullet-active {
  background: #ebb3b3;
}

/* 模块三: 成功案例 */
.page02-sec03 {
  padding-bottom: 30px;
}

.page02-sec03 h1 {  /* 标题 */
  padding: 35px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  border-bottom: 1px solid #e9e9e9;
}

.page02-sec03-content {
  padding: 25px 0;
}

.page02-sec03-content-item {
  padding: 0 15px 20px;
  display: flex;
}

.page02-sec03-content-item:first-child {
  padding-top: 0;
}

.page02-sec03-content-item:last-child {
  padding-bottom: 0;
}

.page02-sec03-content-item-text {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page02-sec03-content-item-text h3,
.page02-sec03-content-item-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  color: #313131;
}

.page02-sec03-content-item-text p {
  padding-top: 10px;
  font-size: 14px;
  color: #919191;
}

.page02-sec03-content-item-img {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.page02-sec03-content-item-img img {
  width: 100%;
}
