.page02-title {  /* 模块标题 */
  padding: 25px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  border-bottom: 1px solid #e9e9e9;
}

/* 模块一: 擅长挽回的婚姻类型 */
.page02-sec01-content {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.page02-sec01-content .group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page02-sec01-content .group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page02-sec01-content .group-item .img {
  width: 40px;
  height: 40px;
  font-size: 0;
}

.page02-sec01-content .group-item .img img {
  width: 100%;
}

/* 模块二: 婚姻危机出现的原因 */
.page02-sec02-content .swiper-container {
  padding-bottom: 30px;
}

.page02-sec02-content .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page02-sec02-content .title i {
  display: inline-block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  background: #dc6871;
  margin-top: 1px;
  margin-right: 10px;
}

.page02-sec02-content .title span {
  font-size: 16px;
  color: #dc6871;
}

.page02-sec02-content .img {
  font-size: 0;
  width: 300px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}

.page02-sec02-content .img img {
  width: 100%;
}
