.text-justify {text-align: justify;}

.text-indent {text-indent: 32px;}

.page02-banner {width: 100%;}

/* Start: 服务范围 */
.page02-service h3 {
  margin: 30px 0;
  font-weight: normal;
}

.page02-service-content {width: 100%;}

.page02-service-content-group {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.page02-service-content-group:last-child {margin-bottom: 0;}

.page02-service-content-group div {
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page02-service-content-group div i {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.page02-service-content-group div span {
  font-size: 14px;
  line-height: 24px;
}

.page02-service-content-group:nth-child(1) div:nth-child(1) i {
  background: url("./images/icon-xianshang.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(1) div:nth-child(2) i {
  background: url("./images/icon-siren.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(1) div:nth-child(3) i {
  background: url("./images/icon-kexue.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(1) i {
  background: url("./images/icon-tigao.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(2) i {
  background: url("./images/icon-moni.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(2) div:nth-child(3) i {
  background: url("./images/icon-aiqing.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(1) i {
  background: url("./images/icon-shidang.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(2) i {
  background: url("./images/icon-hunyin.png") no-repeat center center;
  background-size: 100%;
}

.page02-service-content-group:nth-child(3) div:nth-child(3) i {
  background: url("./images/icon-wanai.png") no-repeat center center;
  background-size: 100%;
}
/* End: 服务范围 */

/* Start: 服务流程 */
.page02-circuit h3 {
  font-weight: normal;
  margin: 0;
  padding: 30px 0;
}

.page02-circuit-content {
  position: relative;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}

.page02-circuit-content-bg {
  display: inline-block;
  width: 100%;
  height: 390px;
  background: url("./images/bg.png") no-repeat center center;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.page02-circuit-content-group {
  position: relative;
  top: -15px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.page02-circuit-content-group-item {
  width: 110px;
  text-align: center;
  position: relative;
}

.page02-circuit-content-group:last-child .page02-circuit-content-group-item {
  margin: 0 auto;
}

.page02-circuit-content-group-item i {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background: url("./images/icon.png") no-repeat center center;
  background-size: 100%;
  position: relative;
  top: 30px;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.page02-circuit-content-group-item-box {
  height: 50px;
  border: 1px solid #fd8593;
  padding-top: 30px;
  background: #fff;
}

.page02-circuit-content-group-item-box span {
  display: inline-block;
  width: 100%;
}
/* End: 服务流程 */

/* Start: 服务保障 */
.page02-guarantee {padding-bottom: 30px;}

.page02-guarantee h3 {
  font-weight: normal;
  padding: 30px 0;
}

.page02-guarantee-content {padding: 0 15px;}

.page02-guarantee-content-item {
  border: 1px solid #fd8593;
  border-left: 10px solid #fd8593;
  padding: 15px 5px;
  line-height: 26px;
}

.page02-guarantee-content-item:last-child {
  margin-bottom: 0;
}
/* End: 服务保障 */
