section {
  margin: 12px 0;
  background: #fff;
}

.section-header {
  border-bottom: 1px solid #e9e9e9;
}

.section-header-title {
  padding: 35px 0 15px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-header-title span {
  height: 17px;
  padding-left: 15px;
  line-height: 16px;
  color: #ee4646;
  font-size: 16px;
}

.section-header-nav {
  padding-bottom: 20px;
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-header-nav a {
  color: #666;
  margin-right: 20px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-header-nav a i {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #cecece;
  transform: rotate(30deg);
  margin: 0 15px;
  margin-right: 0;
  position: absolute;
  right: -10px;
}

.section-header-nav a:last-child i {display: none;}

.section-list {padding: 25px 0;}

.section-list-item {margin: 0;}

.section-list-item-image,
.section-list-item-image-mask,
.section-list-item-image img {
  border-radius: 3px;
  overflow: hidden;
}
