.page01-banner {width: 100%;}

.page01-sec01 h1 {  /* 标题 */
  padding: 25px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  border-bottom: 1px solid #e9e9e9;
}

.page01-sec01-content {
  padding: 25px 0;
}

.page01-sec01-content-item {
  padding-left: 15px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.page01-sec01-content-item:last-child {
  padding-bottom: 0;
}

.page01-sec01-content-item i {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.page01-sec01-content-item:nth-child(1) i {
  background: url("./images/sec1-icon1.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(2) i {
  background: url("./images/sec1-icon2.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(3) i {
  background: url("./images/sec1-icon3.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(4) i {
  background: url("./images/sec1-icon4.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item span {
  font-size: 15px;
  color: #313131;
}
