.page01-banner {width: 100%;}

/* 模块一: 挽回失败原因 */
.page01-sec01 h1 {  /* 标题 */
  padding: 25px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  border-bottom: 1px solid #e9e9e9;
}

.page01-sec01-content {
  padding: 25px 0;
}

.page01-sec01-content-item {
  padding-left: 15px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.page01-sec01-content-item:last-child {
  padding-bottom: 0;
}

.page01-sec01-content-item i {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.page01-sec01-content-item:nth-child(1) i {
  background: url("./images/sec1-icon1.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(2) i {
  background: url("./images/sec1-icon2.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(3) i {
  background: url("./images/sec1-icon3.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item:nth-child(4) i {
  background: url("./images/sec1-icon4.png") no-repeat center center;
  background-size: 100%
}

.page01-sec01-content-item span {
  font-size: 15px;
  color: #313131;
}

/* 模块二: 擅长挽回的爱情类型 */
.page01-sec02 h1 {  /* 标题 */
  padding: 25px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
}

.page01-sec02-content {
  background: #ebb5b4;
  padding: 20px 15px;
}

.page01-sec02-group {
  display: flex;
  justify-content: space-between;
}

.page01-sec02-group:first-child {
  padding-bottom: 15px;
}

.page01-sec02-group-item {
  min-width: 165px;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}

.page01-sec02-group-item i {
  display: inline-block;
  margin: 15px 0;
}

.page01-sec02-group:first-child .page01-sec02-group-item:first-child i {
  width: 26.5px;
  height: 26.5px;
  background: url("./images/sec2-icon1.png") no-repeat center center;
  background-size: 100%;
}

.page01-sec02-group:first-child .page01-sec02-group-item:last-child i {
  width: 24.5px;
  height: 28.5px;
  background: url("./images/sec2-icon2.png") no-repeat center center;
  background-size: 100%;
}

.page01-sec02-group:last-child .page01-sec02-group-item:first-child i {
  width: 28.5px;
  height: 26px;
  background: url("./images/sec2-icon3.png") no-repeat center center;
  background-size: 100%;
}

.page01-sec02-group:last-child .page01-sec02-group-item:last-child i {
  width: 27.5px;
  height: 26px;
  background: url("./images/sec2-icon4.png") no-repeat center center;
  background-size: 100%;
}

.page01-sec02-group-item span:nth-child(3) {
  font-size: 16px;
  color: #616161;
  padding: 10px 0;
}

.page01-sec02-group-item span:last-child {
  padding-bottom: 15px;
}

/* 成功案例 */
.page01-sec03 {
  padding-bottom: 30px;
}

.page01-sec03 h1 {  /* 标题 */
  padding: 35px 0 15px 15px;
  font-size: 17px;
  font-weight: bold;
  color: #313131;
  border-bottom: 1px solid #e9e9e9;
}

.page01-sec03-content {
  padding: 25px 0;
}

.page01-sec03-content-item {
  padding: 0 15px 20px;
  display: flex;
}

.page01-sec03-content-item:first-child {
  padding-top: 0;
}

.page01-sec03-content-item:last-child {
  padding-bottom: 0;
}

.page01-sec03-content-item-text {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page01-sec03-content-item-text h3,
.page01-sec03-content-item-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  color: #313131;
}

.page01-sec03-content-item-text p {
  padding-top: 15px;
  font-size: 14px;
  color: #919191;
}

.page01-sec03-content-item-img {
  width: 90px;
  height: 90px;
  margin-left: 10px;
}

.page01-sec03-content-item-img img {
  width: 100%;
}
