.page04-banner {  /* Banner 图 */
  width: 100%;
}

.page04 .normal-para {
  font-size: 15px;
  color: #313131;
  padding: 0 15px;
  line-height: 26px;
}

.page04 .message {  /* 橘子寄语 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page04 .message .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page04 .message .icon {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #eeb5b4;
}

.page04 .message .icon:first-child {
  margin-right: 10px;
}

.page04 .message .icon:last-child {
  margin-left: 10px;
}

.page04 .message h2 {
  width: 100px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  color: #fff;
  background: #ebb5b4;
}

.page04 .gray-box-para {  /* 灰框段落 */
  margin: 0 15px;
  padding: 10px 15px;
  font-size: 13px;
  color: #616161l;
  background: #f4f4f4;
  border-radius: 6px;
  line-height: 26px;
}

.page04 .gray-box-para span {
  display: inline-block;
}

.page04 .red-box-para {  /* 红框段落 */
  margin: 0 15px;
  padding: 10px 15px;
  font-size: 13px;
  color: #fff;
  background: #ebb5b4;
  border-radius: 6px;
  line-height: 26px;
}

.page04 .icons {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.page04 .icons .icons-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page04 .icons .icons-group img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.page04 .icons .icons-group span {
  font-size: 13px;
  color: #313131;
  line-height: 22px;
}

.page04 .title-h3 {
  font-size: 17px;
  color: #313131;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.page04 .title-h4 {
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.page04 .title-h4 i {
  display: inline-block;
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  background: #d66f70;
}

.page04 .title-h4 span {
  padding-left: 10px;
  color: rgb(214, 111, 112);
  font-size: 15px;
  font-weight: bold;
}

.page04 .gray-box-para-take-img {
  margin: 0 15px;
  background: #f4f4f4;
  border-radius: 6px;
}

.page04 .gray-box-para-take-img .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0;
}

.page04 .gray-box-para-take-img .img img {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 20px;
}

.page04 .gray-box-para-take-img .img p {
  font-size: 15px;
  color: rgb(214, 111, 112);
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 0;
}

.page04 .gray-box-para-take-img p {
  padding: 10px 15px;
  font-size: 13px;
  color: #616161;
}

